/* ========= IMPORTS ========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&Poppins:wght@300;400;500&display=swap');

/* ========= RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*::-webkit-scrollbar {
  width: 0.5rem; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-tl); /* color of the scroll thumb */
  border-radius: 1rem;
}
/* ========= ROOT ========== */
:root {
  /* colors */
  --color-tl: #5f0311;
  --color-ac: #a3011a;
  --color-bg: #0f0d0f;
  --color-tx: #f2f2f2;
  /* fonts */
  --font-A: 'Roboto', sans-serif;
  --font-B: 'Ubuntu', sans-serif;
  --font-C: 'Poppins', sans-serif;
  /* border */
  --border-a: 1px solid var(--color-tl);
  --border-b: 1px solid var(--color-tx);
  --border-s: 1px solid var(--color-ac);
  /* shadow */
  --shadow-tx: 0.1rem 0.1rem 0.1rem var(--color-bg);
  --shadow-bx: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
  --shadow-bt: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}
/* ========= BASE ========== */
.max-width {
  max-width: 1200px;
  padding: 0 5rem;
  margin: auto;
}

section {
  padding-top: 6.25rem;
  border-bottom: var(--border-s);
}

section.home {
  padding: 0;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 3.75rem;
  padding-bottom: 1.7rem;
  font-family: var(--font-B);
}

section .title span {
  color: var(--color-ac);
}

section .title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 15rem;
  height: 0.2rem;
  background: var(--color-ac);
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  font-size: 1.25rem;
  color: var(--color-tx);
  padding: 0.4rem;
  background: var(--color-ac);
  transform: translateX(-50%);
}

.about,
.services {
  font-family: var(--font-C);
  height: 100vh;
}
/* ========= HEADER ========== */
/* _________ navbar __________ */
.navbar {
  position: fixed;
  width: 100%;
  padding: 0.5rem 0;
  font-family: var(--font-B);
  z-index: 1;
  transition: all 0.3s ease;
}

.navbar.scrollActive {
  padding: 0.25rem 0;
  background-color: var(--color-tl);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: var(--color-tx);
  font-size: 2.2rem;
  font-weight: 300;
  transition: all 0.3s ease;
}

.navbar .logo a span {
  color: var(--color-tl);
  font-weight: bold;
}

.navbar.scrollActive .logo a span {
  color: var(--color-tx);
  font-weight: 300;
}

.navbar .menu li {
  display: inline-block;
}

.navbar .menu li a {
  color: var(--color-tx);
  font-size: 1.2;
  font-weight: 500;
  margin-left: 1.6rem;
  transition: all 0.3s ease;
}

.navbar .menu li:hover a {
  color: var(--color-tl);
  padding-bottom: 0.5rem;
  border-bottom: var(--border-a);
}

.navbar.scrollActive .menu li:hover a {
  color: var(--color-tx);
  padding-bottom: 0.5rem;
  border-bottom: var(--border-b);
}

/*___________ menu btn ___________*/
.menu-btn {
  color: var(--color-tx);
  padding: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
/* ========= MAIN ========== */
/* ___________ home ___________ */
.home {
  width: 100%;
  height: 100vh;
  position: relative;
  color: var(--color-tx);
  font-family: var(--font-B);
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}

.home .max-width {
  position: absolute;
  top: 40%;
  left: 6%;
}

.home .home-content {
  text-shadow: var(--shadow-tx);
}

.home .home-content a {
  display: inline-block;
  background-color: var(--color-tl);
  color: var(--color-tx);
  font-size: 1.6rem;
  padding: 0.75rem 2.25rem;
  margin-top: 1.25rem;
  border-radius: 0.4rem;
  box-shadow: var(--shadow-bx);
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  background-color: var(--color-ac);
}

.home .home-content a:active {
  margin-top: 1.42rem;
  background-color: gray;
  box-shadow: var(--shadow-bt);
}

.home .home-content .text_1 {
  font-size: 1.5rem;
}

.home .home-content .text_2 {
  font-size: 4rem;
  font-weight: 500;
  margin-left: 0.2rem;
}

.home .home-content .text_3 {
  font-size: 2rem;
  margin: 0.3rem 0;
}

.home .home-content .text_3 span {
  color: var(--color-tl);
  font-weight: 600;
}

/*___________ keyframe Zoom ____________*/
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
/* __________ about __________ */
.about .title::after {
  content: 'Quem sou eu';
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.6rem;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.about .about-content .right .text span {
  color: var(--color-ac);
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background-color: var(--color-tl);
  color: var(--color-tx);
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  margin-top: 1.25rem;
  border-radius: 0.4rem;
  box-shadow: var(--shadow-bx);
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  background-color: var(--color-ac);
}

.about .about-content .right a:active {
  margin-top: 1.42rem;
  background-color: gray;
  box-shadow: var(--shadow-bt);
}
/* __________ services __________ */
.services {
  color: var(--color-tx);
  background: var(--color-bg);
}

.services .title::after {
  content: 'O que eu faço';
}

.services .services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services .services-content .card {
  width: calc(33% - 1.25rem);
  background: #222;
  text-align: center;
  border-radius: 0.4rem;
  padding: 1.25rem 1.57rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services .services-content .card:hover {
  background-color: rgb(61, 61, 61);
  transform: scale(1.1, 1.1);
}

.services .services-content .card svg {
  font-size: 3.3rem;
  color: var(--color-ac);
}

.services .services-content .card .text {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.63rem 0 0.5rem 0;
}

/* __________ specialty __________ */

/* __________ team __________ */

/* __________ contact __________ */

/* ========= FOOTER ========== */

/* ========= RESPONSIVE ========== */
/* __________ screen 1440px desktop __________ */
@media screen and (max-width: 1440px) {
  .home .max-width {
    margin-left: 0rem;
  }
}

/* __________ screen 1080px desktop __________ */
@media screen and (max-width: 1080px) {
  .about .about-content .left img {
    width: 22rem;
    height: 22rem;
  }
}

/* __________ screen 960px desktop __________ */
@media screen. and (max-width: 960px) {
  .about .about-content .left img {
    width: 18rem;
    height: 18rem;
  }
}

/* __________ screen 845px  table __________ */
@media screen and (max-width: 845px) {
  .max-width {
    max-width: 800px;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .navbar .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: var(--color-bg);
    text-align: center;
    padding-top: 5rem;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 1.25rem 0;
    font-size: 1.6rem;
  }

  .home .home-content .text_2 {
    font-size: 4.4rem;
  }

  .home .home-content .text_3 {
    font-size: 2.2rem;
  }

  .home .home-content a {
    font-size: 1.5rem;
    padding: 0.7rem 2rem;
  }

  .about .about-content .column {
    width: 50%;
  }

  .about .about-content .left {
    display: flex;
    align-items: center;
    margin: 0 auto 3.75rem;
  }

  .about .about-content .right {
    flex: 100%;
  }
}

/* __________ screen 555px smartphone __________ */
@media screen and (max-width: 555px) {
  .max-width {
    padding: 0 1.5rem;
  }
  .home .home-content .text_2 {
    font-size: 3.643rem;
  }

  .home .home-content .text_3 {
    font-size: 2rem;
  }

  .home .home-content a {
    font-size: 1.2rem;
    padding: 0.5rem 1.7rem;
  }
}
